.portfolio__education {
  display: flex;
  flex-direction: column;
}

.portfolio__education-content {
  margin-right: 5rem;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
}

.portfolio__education-program {
  font-family: var(--font-family);
  font-size: 14px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  
}
.portfolio__education-program h1{
color: #fff;
  
}
.portfolio__education-date{
    margin-top: 10px;
    font-weight: 800;
  }
.portfolio__education-school {
  font-size: 14px;
  line-height: 24px;
  color: #6cace4;
}
.portfolio__education-coursework {
  margin-top: 0.5rem;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-subtext);
}
.portfolio__education hr {
  margin-top: 5rem;
}

@media screen and (max-width: 1050px) {
  .portfolio__education {
    flex-direction: column;
  }
  .portfolio__education-content {
    margin: 0 0 3rem;
  }
  .portfolio__education-program {
    flex-direction: column;
    justify-content: flex-start;
    font-size: 12px;
  }
  .portfolio__education-date {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 650px) {
  .portfolio__education-program {
    font-size: 12px;
  }
  .portfolio__education-program {
    font-size: 12px;
  }
}
@media screen and (max-width: 490px) {
  .portfolio__education-program p {
    font-size: 12px;
  }
}
